@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#090A0C] text-[#E4E4E4] font-sans;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #2D1F26;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
